body {
  font-family: 'Roboto', sans-serif;
}

.container {
  padding: 20px 40px;
  line-height: 28px;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  text-transform: capitalize;
  font-size: 50px;
}

p {
  font-size: 24px;
  line-height: 42px;
}

.pullquote {
  font-family: 'Libre Baskerville', serif;
  color: tomato;
  font-size: 32px;
  font-style: italic;
  line-height: 48px;
  width: 100%;
}

