* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, 
html{
  height: 100%;
  font-family: 'Roboto', sans-serif;  
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  min-height: 100vh;
  color: #141414;
}

.flex-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
    background-color: papayawhip;
}

nav {
  height: 60px;
}

main {
  flex: 1;
  padding: 0 40px;
  display: flex;
  overflow: auto;
}

.container, footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  
  background: tomato;
  padding: 0 40px;
  line-height: 80px;
}

.container a {
  text-decoration: none;
  color: #F4F4F4;
}

.title {
  line-height: 150px;
  padding: 0 40px;
  font-size: 1.68em;
}

h3 {
  margin: 20px 0;
  color: #888;
}

ul {
  line-height: 1.68em;
  list-style-type: none;
}

a.student {
  color: green;
}

.column-one, .column-two, .column-three {
  width: 33%;
  display: flex;
  flex-direction: column;
}

footer{
  padding: 0 40px;
}

/* tablet */
@media (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 1em;
    padding: 40px;
    line-height: 2.68em;
  }

  .column-one, .column-two, .column-three {
    width: 100%;
  }
}


/* mobile */
@media (max-width: 480px) {
  main {
    display: flex;
    flex-direction: column;
  }

  .column-one, .column-two, .column-three {
    width: 100%;
  }
}